################################################################################
# Standalone Frontend
################################################################################

# For full-platform local development, use the deployment env file instead:
# ../acornops-deployment/env/local/.env.local

FRONTEND_PORT=3000

################################################################################
# Routing
################################################################################

VITE_APP_BASE_PATH=/

################################################################################
# Data Source
################################################################################

VITE_APP_DATA_MODE=control-plane
VITE_CONTROL_PLANE_API_BASE_URL=http://localhost:8081
